# NYC Bus Stops vs Bus Shelters: Riders Comfort

### Findings:

- 15,047 bus stops as of 2020
- 3,332 of those bus stops have shelters, last updated Sep 7, 2022 
- 22.14% of all bus stops that are sheltered

<b>Sources:</b><br>
[Bus Stops](https://www.baruch.cuny.edu/confluence/display/geoportal/NYC+Mass+Transit+Spatial+Layers) <br>
[Bus Shelters](https://data.cityofnewyork.us/Transportation/Bus-Stop-Shelters/qafz-7myz)

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
bus_stops = pd.read_csv('./data/bus_stops_2020.csv')
bus_shelters = pd.read_csv('./data/Bus_Stop_Shelter.csv')

In [3]:
bus_stops.head()

,stop_id,stop_name,stop_lat,stop_lon,GEOID,NAMELSAD
0,301043,NEW LOTS AV/MILLER AV,40.663782,-73.888834,36047,Kings County
1,301045,NEW LOTS AV/PENNSYLVANIA AV,40.661934,-73.893030,36047,Kings County
2,301049,NEW LOTS AV/VAN SINDEREN AV,40.659027,-73.899546,36047,Kings County
3,301053,HEGEMAN AV/THATFORD AV,40.656480,-73.906268,36047,Kings County
4,301132,HEGEMAN AV/ROCKAWAY AV,40.656280,-73.906863,36047,Kings County

In [4]:
bus_stops.shape

(15047, 6)

In [5]:
bus_shelters.head(2)

,the_geom,BoroCode,BoroName,BoroCD,CounDist,AssemDist,StSenDist,CongDist,Furn_Code,Address,Latitude,Longitude,NTAName,FEMAFldz,FEMAFldT,HrcEvac
0,POINT (-73.97724856366214 40.659636752574926),3,Brooklyn,307,39,44,21,9,BR02309AB,10TH AVE,40.659645,-73.977250,Windsor Terrace-South Slope,X,AREA OF MINIMAL FLOOD HAZARD,NaN
1,POINT (-73.95524256404973 40.77351973027252),1,Manhattan,108,5,73,28,12,MN01368AB,3RD AV (MN0103),40.773528,-73.955244,Upper East Side-Yorkville,X,AREA OF MINIMAL FLOOD HAZARD,NaN

In [6]:
bus_shelters.shape

(3332, 16)